<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>login</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
#register {
	text-align: center;
	background: white;
}

div {
	width: 1000px;
	margin: 0 auto;
}
</style>
</head>
<body>
<!-- <div id="home"><a href = "/">Home</a></div>

<p th:text="${errmsg}"></p>
	<form >
	<div>	enter mail : 	<input type = "text" name = "mail" th:field="*{mail}"></div>
	<div>	enter password : 	<input type = "password" name = "password" th:field="*{password}"></div>
		<input type = "submit" value = "login">
		
	</form> -->
	
	<div>
		<div class="form-group" id="register">
			<h1>Login Form</h1>
		</div>
		<p th:text="${msg}" class="text-success">
		<p th:text="${errmsg}" class = "text-danger">
		<form th:action="@{/login}" th:object="${login}" method = "post">

			
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label> <input
					type="email" class="form-control" id="email"
					aria-describedby="emailHelp" placeholder="Enter email"
					th:field="*{mail}">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label> <input
					type="password" class="form-control" id="password"
					placeholder="Password" th:field="*{password}">
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>

			Not registered yet?<a href="signup" type="button">create account</a>
		</form>
	</div>
	
	
	
</body>
</html>





















